.lexical-container {
  position: relative;

  .placeholder {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    display: inline-block;
    pointer-events: none;
  }
  
  div[contenteditable="true"] {
    border-radius: 10px;
    position: relative;

    &:focus {
      outline: none !important;
    }

    span[data-comment-instance] {
      // background-color: var(--nextui-colors-yellow300);
      background-color: rgba(172,255,47,.5);
      border-radius: 4px;
      padding: 0 4px;
      border: 1px solid var(--nextui-colors-success);
      box-sizing: border-box;

      &::after {
        content: " 💬";
      }
    }
  }
}

.dark-theme {
  .lexical-container {
    div[contenteditable="true"] {
      span[data-comment-instance] {
        // color: var(--nextui-colors-background);
      }
    }
  }
}
